//APP LOGIN STYLES
.app {
    &-login {
        &__container {
            height: 100%;
            width: 375px;
            position: fixed;
            background-color: #fafafa;
            padding: 0 30px;
            display: flex;
            align-items: center;
            overflow-y: scroll;

            @media screen and (max-width: 576px) {
                width: 100%;
            }

        }

        &__desc {
            width: calc(100% - 375px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 375px;
            background: url('./images/login-bg.jpg') no-repeat;
            background-size: cover;

            @media screen and (max-width: 576px) {
                display: none;
            }
        }

        &__form {
            position: relative;
            input {
                background-color: transparent;
                border-color: transparent;
                border-bottom-color: rgba(0, 0, 0, 0.1);
                border-radius: 0; 
                outline: none;
                padding-top: 15px;

                &:active, &:focus {
                    background-color: transparent;
                    border-color: transparent;
                    border-bottom-color: rgba(0, 0, 0, 0.1);
                    box-shadow: none;
                }

                &:not(:placeholder-shown) + label {
                    transform: translateY(-13px);
                    color: $primary-color;
                    visibility: visible;
                }
            }
            label {
                position: absolute;
                top: 8px;
                left: 13px;
                color: transparent;
                visibility: hidden;
                font-size: 12px;
                opacity: .8;
                transition: all .3s ease;
            }
        }
    }
}